body
{
	background-image: url("../images/stars.jpg");
}

h1, h2, h3, h4, h5, h6, p
{
	color: #ffff00;
	text-shadow: 2px 2px 2px black, 0 0 5px white, 1 1 1px black;
}

p.stats
{text-shadow: 2px 2px 2px black, 0 0 5px white, 0 0 2px black;}

.character
{ border: 5px solid #666666; }

.player
{ border: 5px solid blue; }

.enemy
{ border: 5px solid red; }

.character:hover
{ opacity: .8; }

.player:hover
{ opacity: 1;}

div#charselect-space
{
	margin: auto;
	width: 600px; 
	overflow: auto;
}


/* test characters */
div#red
{
	width: 130px;
	height: 130px;
	margin: 10px;
	background: red;
	float: left;
}

div#blue
{
	width: 130px;
	height: 130px;
	margin: 10px;
	background: blue;
	float: left;
}

div#yellow
{
	width: 130px;
	height: 130px;
	margin: 10px;
	background: yellow;
	float: left;
}

div#green
{
	width: 130px;
	height: 130px;
	margin: 10px;
	background: green;
	float: left;
}

