.character
{ border: 5px solid #666666; }

.player
{ border: 5px solid blue; }

.enemy
{ border: 5px solid red; }

.character:hover
{ opacity: .8; }

.player:hover
{ opacity: 1;}

div#charselect-space
{
	margin: auto;
	width: 480px; 
	overflow: auto;
}

div#red
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: red;
	float: left;
}

div#blue
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: blue;
	float: left;
}

div#yellow
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: yellow;
	float: left;
}

div#green
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: green;
	float: left;
}

