.characters-div
{
	border: 5px solid #666666;
}

.characters-div:hover
{
	opacity: .8;
}

div#red
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: red;
	float: left;
}

div#blue
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: blue;
	float: left;
}

div#yellow
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: yellow;
	float: left;
}

div#green
{
	width: 100px;
	height: 100px;
	margin: 10px;
	background: green;
	float: left;
}

.player
{
	border: 5px solid red;
}

.enemy
{
	border: 5px solid blue;
}
